@media screen and (max-width: 800px){
    .cart:nth-of-type(2) {background-color: #212121;}
    div:nth-child(even) {background-color: #F5F5F5;}

    .products.gallery{
        margin: 30px 0 0 0;
        padding: 0 0 30px 0;
    }
    h4{
        text-align: center;
    }
    #cartProducts{
        background-color: #FFFFFF;
    }
    #totalAmount{
        background-color: #FFFFFF;
    }
    #cartButton{
        background-color: #FFFFFF;
    }
}

@media screen and (max-width: 600px) {
    .cart:nth-of-type(2) {background-color: #212121;}
    div:nth-child(even) {background-color: #F5F5F5;}
    .products.gallery{
        margin: 25px 0 10px 0;
    }
}

body{
    margin: 0;
    padding: 0;
}  

main{
    margin: 0 0 20px 0;
}

.cart{
    display: flex;
    margin: 0 15px 0 0;
}

#cartNumber{
    color: #FFFFFF;
    font-size: 30px;
    font-family: sans-serif;
    margin: 12px 0 10px 10px;
}

h1{
    font-size: 28px;
    font-family: sans-serif;
    margin: 15px;
    color:#FFFFFF;
    margin: 13px 0 10px 10px;
}

.top_bar{
    background: #212121;    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.products{
    margin: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTitle{
    font-size: 50px;
    color: #212121;
}

.itemBeskrivning{
    font-size: 20px;
    font-family: sans-serif;
    color: #212121;
}

.itemPrice{
    font-family: sans-serif;
    color: #212121;
}

.itemPhoto{
    width: auto;
    height: 310px;
}

.itemButton{
    border-radius: 8px;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 8px;
}


.products.gallery .itemButton{
    background-color: #5596F5;
    color: #F5F5F5;
}


.products.cart .itemButton{
    background-color: #fe0000;
    color: #F5F5F5;
    font-size: 15px;
}

.itemButton i{
    margin-right: 8px;
}

#alertSum{
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    align-items: center;
    border: none;
    padding: 8px;
    background-color: #5596F5;
    color: #F5F5F5;
    width: 15%;
}

.products.cart{
    padding: 15px;
    border: 2px solid #5596F5;
    background-color:#F5F5F5;
    border-radius: 10px;
    width: auto;
    text-align: center;
    margin: 20px 15px 0px 0px;
   }

#cartProducts{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

#totalAmount{
    font-size: 35px;
    font-family: sans-serif;
    margin: 100px 0 30px;
    text-align: center;
}

#cartButton{
    text-align: center;
}


.cartPhoto{
    width: auto;
    height: 150px;
}

.cartTitle{
    font-size: 30px;
    color: #212121;
}

#headLine{
    margin-top: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    

    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
}

h2{
    margin-left: 20px;
}

.loginBox {
    display: flex;
    align-items: center;
}

.hide {
    display: flex;
    align-items: center;
    display: none;
}