body{
    margin: 0;
    padding: 0;
}  

header{
    position: fixed;
}

.cart{
    display: flex;
    margin: 0 15px 0 0;
}

#cartNumber{
    color: #FFFFFF;
    font-size: 30px;
    font-family: sans-serif;
    margin: 12px 0 10px 10px;
}

h1{
    font-size: 28px;
    font-family: sans-serif;
    margin: 15px;
    color:#FFFFFF;
    margin: 13px 0 10px 10px;
}

.top_bar {
    background: #212121;    
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.main{
    top: 0px;
    right: 0;
    left: 0;
    margin-top: 90px;
    position: static;
    display: flex;
    text-align: center;
}

.products{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemTitle{
    font-size: 50px;
    color: #212121;
}

.itemBeskrivning{
    font-size: 20px;
    font-family: sans-serif;
    color: #212121;
}

.itemPrice{
    font-family: sans-serif;
    color: #212121;
}

.itemPhoto{
    width: auto;
    height: 350px;
}

.itemButton{
    border-radius: 8px;
    height: 45px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 8px;
}


.products.gallery .itemButton{
    background-color: #5596F5;
    color: #F5F5F5;
}


.products.cart .itemButton{
    background-color: #fe0000;
    color: #F5F5F5;
}

.itemButton i{
    margin-right: 8px;
}

#alertSum{
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    align-items: center;
    border: none;
    padding: 8px;
    background-color: #5596F5;
    color: #F5F5F5;
    width: 180px;
}

.products.cart{
    padding: 15px;
    border: 2px solid #5596F5;
    background-color:#F5F5F5;
    border-radius: 30px;
    width: 290px;
    text-align: center;
    margin-right: 20px;
   }

#cartProducts{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

#totalAmount{
    font-size: 35px;
    font-family: sans-serif;
    margin: 100px 0 30px;
    text-align: center;
}

#cartButton{
    text-align: center;
}
